/*safari ,edge,chrome*/
::-webkit-scrollbar{
    display:none;
}
/*firefox*/
*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
h3,h2{
    color:greenyellow;
}
h1{
    color:green;
}
body{
    background-color:black;
    color:white;
    margin:0;
    padding-top:10px
}
footer a{
        margin-right:50px;

}

.feedback{
    border:2px solid greenyellow;
    padding:10px;
    width:500px;
}

.button{
    width:100px;
    height:40px;
    background-color:greenyellow;
    color:black;
}


nav a:hover{
    color:black;
    border:2px solid green;
    text-align: center;
    background-color:green;
}
nav a{
    border:2px solid greenyellow;
    text-align:center;
    color:black;
    padding:3px;
    border-width: 50;
    background-color:greenyellow;
    margin-right:30px;
    text-decoration:none;
    
            
    

}
.border{
    padding:15px 30px;
    background:#111;
    color:white;
    border:2px solid cyan;
    box-shadow:0 0 10px cyan;
}
 .logo div{
    display:flex;
    align-items: center;
    position:sticky;
    top:0;
    margin-bottom:10px;
    background-color: black;
                
 }
 .logo{
    display: flex;
    align-items: center;
    position:sticky;
    top:0;
    justify-content: space-between;
    margin-bottom:10px;
    background-color: black;
 }

  div image{
            display:inline-block; }
.scroll{
        display:flex;
        overflow-x:auto;
  }
 .vscroll{
     display:flex;
    overflow-y:auto;}
 div video{
         display:inline-flexbox;
        border:2px solid greenyellow;
        width:200px;
        height:300px;
        margin-right:10px;}
.video{
     width:70%;

 }
.border{
border:2px solid greenyellow;
 margin-right: 10px;
 }
@keyframes border{
    0%{border-color: greenyellow;}
    20%{border-color: rgb(255, 0, 128);}
    49%{border-color: red;}
    70%{border-color: orange;}
    100%{border-color: blue;}
}
.borderanimi {
animation: border 5s infinite;
 }
table{
    border:2px solid greenyellow;
    padding:5px;
    margin:3px;

}
th{
    color:blue;
    text-align:left;
    padding:5px;
    
}
td{
    padding:7px; 

}
table button
{
    padding:6px 12px;
    border:none;
    border-radius:4px;
cursor:pointer;
    animation: border 5s infinite;
}


                         

           
