/*safari ,edge,chrome*/
::-webkit-scrollbar{
    display:none;
}
/*firefox*/
*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
h3{
    color:greenyellow;
}
h1{
    color:green;
}
body{
    background-color:black;
    color:white;
    margin:0;
    padding-top:10px
}
/*
.logo
{
    position:sticky;
    display:flex;
    align-items: left;
    justify-content: space-between;
    top:0;
    margin-bottom:30px;
    height:10px;
    width:100%;


}
    */
.feedback{
    border:2px solid greenyellow;
    padding:10px;
    width:500px;
}
/*
.feedback input{
    margin-left:60%;
}
.feedback label{
    margin-right:40%
}
*/
.button{
    width:100px;
    height:40px;
    background-color:greenyellow;
    color:black;
}


a:hover{
    color:orange;
}
.border{
    padding:15px 30px;
    background:#111;
    color:white;
    border:2px solid cyan;
    box-shadow:0 0 10px cyan;
}
